{% extends "base.html" %}
{% block title %}Login{% endblock %}
    {% block content %}
        <div class="content-section">
            <form method="POST" action="">  <!-- action "" means to return to the same page at submit.-->
                {{ form.hidden_tag() }}
                <p>{{ form.num_of_agents.label }} {{ form.num_of_agents(size=2) }}</p>
                <p>{{ form.num_of_objects.label }} {{ form.num_of_objects(size=2) }}</p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    {% endblock %}
